:local .home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  display: flex;
  flex-direction: row;
}

:local .swcList {
  width: 150px;
  height: 100%;
}

:local .threeView {
  width: calc(100vw - 150px);
  height: 100%;
}